.iframe {
    width: 800px;
    height: 600px;
    bottom: 20px; 
    right: 20px;
}

body {
    background-color:beige;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.orderedlist {
    font-style: italic;
    font-weight: bolder;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}